.admin-product-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.admin-page {
    margin-top: 120px;
    padding: 0vw 3vw 0vw 3vw;
    margin-bottom: 3vw;
}

.btn-admin{
    font-family: 'poppins-regular';
    font-size: 14px !important;
    margin:0 !important;
}

thead, td {
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin:0 !important;
}

.btn-edit{
    font-family: 'poppins-regular';
    font-size: 14px !important;
    margin:0 !important;
    background-color: black !important;
    color: white !important;
}

.btn-delete{
    font-family: 'poppins-regular';
    font-size: 14px !important;
    margin:0 !important;
    background-color: brown !important;
    color: white !important;
}

table{
    margin-top: 16px;
}