@font-face { font-family: poppins-regular; src: url('../fonts/Poppins-Regular.ttf'); } 

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 70%;
    height: 25%;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.carousel-card{
    display: block;
    width: 80vh;
    height: 75vh;
}

img{
    object-fit: cover;
    align-self: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-basic{
    color: white;
    background-color: black;
    transition: transform .2s;
    padding: 10px;
}

.btn-basic:hover{
    color: white;
    background-color: black;
    padding: 10px;
    transform: scale(1.06);
    animation:ease-in-out;
    text-decoration: none;
}

.big-logo {
    height: 200px;
}

h1{
    font-family: 'poppins-regular';
    font-size: 36vw;
}

h2{
    font-family: 'poppins-regular';
    font-size: 24vw;
}

h3{
    font-family: 'poppins-regular';
    font-size: 18vw;
}

h4{
    font-family: 'poppins-regular';
    font-size: 14vw;
}

p{
    font-family: 'poppins-regular';
    font-size: 12vw;
}

.box{
    border: solid 1px lightgrey;
    box-shadow: 0px 8px 16px rgba(92, 107, 192, 0.2);
    border-radius: 5px;
    margin-top: 150px;
}

/* .container{
    padding-top: 100px;
} */
