@font-face { font-family: poppins-regular; src: url('../fonts/Poppins-Regular.ttf'); } 

.container{
    margin-top: 125px;
}

.image-card{
    box-shadow: 0px 4px 8px rgba(92, 107, 192, 0.2),
    0px 2px 4px rgba(59, 69, 123, 0.2);
    border-radius: 5px;
}

.selectSize{
    border: solid 1px black;
    border-radius: 2px;
    width:3vw;
    height:2.5vw;
    padding:0.2vw 0.2vw 0.2vw 0.9vw;
}

.warning {
    margin-left: 1vw;
    color: brown;
}

h1{
    font-family: 'poppins-regular';
    font-size: 36px !important;
}

h2{
    font-family: 'poppins-regular';
    font-size: 24px !important;
}

h3{
    font-family: 'poppins-regular';
    font-size: 18px !important;
}

h4{
    font-family: 'poppins-regular';
    font-size: 14px !important;
    margin:0 !important;
}

form{
    font-family: 'poppins-regular';
    font-size: 12px !important;
}

p{
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin: 0px !important;
}

.link-see-cart{
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin:0 !important;
    background-color: white !important;
    color: black !important;
    padding: 0px  !important;
    text-decoration: none !important;
}

.link-see-cart:hover{
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin:0 !important;
    background-color: white !important;
    color: black !important;
    padding: 0px  !important;
    text-decoration: underline !important;
}

.link-add-cart{
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin:0 !important;
    background-color: black !important;
    color: white !important;
    padding: 0px  !important;
    text-decoration: none !important;
}

.link-add-cart:hover{
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin:0 !important;
    background-color: black !important;
    color: white !important;
    padding: 0px  !important;
    text-decoration: underline !important;
}

.btn-light{
    text-decoration: none !important;
    padding: 0px  !important;
}

.btn-add{
    color: white !important;
    background-color: black !important;
}

.btn-add:hover{
    color: white !important;
    background-color: black !important;
    text-decoration: underline !important;
}