@font-face { font-family: poppins-regular; src: url('../fonts/Poppins-Regular.ttf'); } 

.product-card{
    border-radius: 4px !important;
    transition: all ease 150ms !important;
    box-sizing: border-box !important;
    width: 18vw !important;
    height: 27vw !important;
    border: 1px solid #e2e5e6 !important;
    margin: 0vw 0.77vw !important;
}

.product-card:hover{
    box-shadow: 0px 8px 16px rgba(92, 107, 192, 0.2),
    0px 4px 8px rgba(59, 69, 123, 0.2)  !important;

}

.product-card img {
    border-radius: 4px !important;
    object-fit:cover !important;
    height: 100% !important;
    width: 100% !important;
}

.card-text{
    padding: 8px 16px 32px 16px !important;
    align-items: center !important;
    justify-content: center !important;
}


Link:hover{
    text-decoration: underline !important;
    color: inherit !important;
}



h1{
    font-family: 'poppins-regular';
    font-size: 36px !important;
}

h2{
    font-family: 'poppins-regular';
    font-size: 24px !important;
}

h3{
    font-family: 'poppins-regular';
    font-size: 18px !important;
}

h4{
    font-family: 'poppins-regular';
    font-size: 14px !important;
    margin:0 !important;
}

form{
    font-family: 'poppins-regular';
    font-size: 12px !important;
}

p{
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin: 0px !important;
}