@import "~react-vis/dist/style";

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

.admin-product-image{
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.sales-page {
    margin-top: 120px;
    padding: 0vw 3vw 0vw 3vw;
    margin-bottom: 3vw;
}

thead, td {
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin:0 !important;
}

table{
    margin-top: 16px;
}

th {
    text-align: center !important;
}

h1{
    font-family: 'poppins-regular';
    font-size: 36px !important;
}

h2{
    font-family: 'poppins-regular';
    font-size: 24px !important;
}

h3{
    font-family: 'poppins-regular';
    font-size: 18px !important;
}

h4{
    font-family: 'poppins-regular';
    font-size: 14px !important;
    margin:0 !important;
}

form{
    font-family: 'poppins-regular';
    font-size: 12px !important;
}

p{
    font-family: 'poppins-regular';
    font-size: 12px !important;
    margin: 0px !important;
}

.font-weight-bold{
    font-weight: 800 !important;
}